

header {
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: left;
    color: teal;
    padding: 20px;
    margin-top: 10px;
    background: beige;
}

body {

}

p {
    background: gray;
    font-size: 18px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.contatiner {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color: teal;
}

.h {
    background: white;
    border: 2px;
    border-color: black;

}