* {
    box-sizing: border-box;
}


body {
    background-image: url("https://i.imgur.com/VDxxZyR.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: teal;
    border: 2px;
    border-style: ridge;
    border-color: #cccccc;
    width: 200px;
    text-align: center;
    font-size: 18px;
}
p {
    margin: 10px;
    font-size: 18px; 
    float: left;
}

h1 {
    background: white;
    border: 2px;
    border-style: inset;
    border-color: black;
    margin-left: 10px;
    margin-top: 10px;
    width: 140px;
    text-align: center;
}

h2 {
    border: 0;
    border-style: ridge;
}

.container {
    background: #ffffff;
    margin-top: 80px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border: 2px;
    border-style: inset;
    border-color: #dddddd;
    width: 960px;
    overflow: auto;
    clear: both;
    min-height: calc(100vh - 70px);
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;
    display: block;
}

li {
    padding: 14px 16px;
    text-decoration: none;
}

#name {
    float: left;
    width: 20%;
    height: 40px;
    background: teal;
    text-align: center;
    font-size: 18px;
}

#left {
    float: right;
    width:20%;
    height: 40px;
    background: gray;
    text-align: center;
    font-size: 18px;
}

#middle {
    float: right;
    width: 20%;
    height: 40px;
    background: grey;
    text-align: center;
    font-size: 18px;
}

#right {
    float: right;
    width: 20%;
    height: 40px;
    background: grey;
    text-align: center;
    font-size: 18px;
}

.footer {
    background-color: #666666;
    width: 960px;
    height: 50px;
    text-align: center;
    color: hotpink;
}